<!DOCTYPE html>
<html lang="en">
<head>
	<title>rjs Build Single File</title>
	<link rel="stylesheet" type="text/css" href="/public/css/render.css" />
</head>
<body>
	<h1>rjs Build Single File</h1>
	<ol>
		<li>GoTo <a href="/buildScripts/requireJSBuildSingleFile.js">/buildScripts/requireJSBuildSingleFile.js</a></li>
		<li>Configure your build options for r.js</li>
		<li>run cmd &gt;  <code>node buildScripts/r.js -o buildScripts/&lt;builtScriptFile&gt;.js</code> from your root directory</li>
		<li>With the above command, ensure you provide the entry js file into "name" property and the optimized file name to be provided in "out" property. This option is configured for single file optimization.</li>
		<li>open <a href="/buildSingleFile/">/buildSingleFile/</a> directory to view the optimized file(s)</li>
	</ol>

	<h2>cmd(s) for buildScript ( to be run from root directory )</h2>
	<div class="grid-a">
	<!-- grid-a begin -->

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				single file build using <code>inlineText</code> config option
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildSingleFileInlineText.js">buildScripts/requireJSBuildSingleFileInlineText.js</a></code>
			</div>
		<!-- row end -->
		</div>	

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				single file build using <code>cssPrefix</code> config option
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildSingleFilecssPrefix.js">buildScripts/requireJSBuildSingleFilecssPrefix.js</a></code>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				single file build using <code>optimizeCss</code> config option
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildSingleFileOptimizeCss.js">buildScripts/requireJSBuildSingleFileOptimizeCss.js</a></code>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				single file build using <code>uglify</code> config option
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildSingleFileUsingUglify.js">buildScripts/requireJSBuildSingleFileUsingUglify.js</a></code>
				<br />
				See <a href="https://github.com/mishoo/UglifyJS">https://github.com/mishoo/UglifyJS</a> for the possible values.
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				single file build using <code>uglify2</code> config option
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildSingleFileUsingUglify2.js">buildScripts/requireJSBuildSingleFileUsingUglify2.js</a></code>
				<br />
				For possible values see:
				<ul>
					<li>
						<a href="http://lisperator.net/uglifyjs/codegen">http://lisperator.net/uglifyjs/codegen</a>
					</li>
					<li>
						<a href="http://lisperator.net/uglifyjs/compress">http://lisperator.net/uglifyjs/compress</a>
					</li>
				</ul>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				single file build using <code>generateSourceMaps</code> config option
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildSingleFileUsingSourceMaps.js">buildScripts/requireJSBuildSingleFileUsingSourceMaps.js</a></code>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				single file build using <code>optimize</code> config option
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildSingleFileUsingOptimize.js">buildScripts/requireJSBuildSingleFileUsingOptimize.js</a></code>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				single file build using <code>locale</code> config option
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildSingleFileUsingLocale.js">buildScripts/requireJSBuildSingleFileUsingLocale.js</a></code>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				single file build using <code>wrapShim</code> config option
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildSingleFileUsingWrapShim.js">buildScripts/requireJSBuildSingleFileUsingWrapShim.js</a></code>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				single file build using helloWorld module
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildSingleFile.js">buildScripts/requireJSBuildSingleFile.js</a></code>
			</div>
		<!-- row end -->
		</div>
		
	<!-- grid-a end -->
	</div>
</body>
</html>