<!DOCTYPE html>
<html lang="en">
<head>
	<title>rjs Build Single File</title>
</head>
<body>
	<h1>rjs Build Single File</h1>
	<ol>
		<li>GoTo <a href="/buildScripts/requireJSBuildSingleFile.js">/buildScripts/requireJSBuildSingleFile.js</a></li>
		<li>Configure your build options for r.js</li>
		<li>run cmd &gt;  <code>node r.js -o requireJSBuildSingleFile.js</code></li>
		<li>With the above command, ensure you provide the entry js file into "name" property and the optimized file name to be provided in "out" property. This option is configured for single file optimization.</li>
		<li>open <a href="/buildSingleFile/">/buildSingleFile/</a> directory to view the optimized file(s)</li>
	</ol>
</body>
</html>