<!DOCTYPE html>
<html lang="en">
<head>
	<title>rjs Build Dir</title>
	<link rel="stylesheet" type="text/css" href="/public/css/render.css" />
</head>
<body>
	<h1>rjs Build Dir</h1>
	<ol>
		<li>GoTo <a href="/buildScripts/requireJSBuildDir.js">/buildScripts/requireJSBuildDir.js</a></li>
		<li>Configure your build options for r.js</li>
		<li>run cmd &gt; <code>node r.js -o requireJSBuildDir.js</code></li>
		<li>The above command will scan the "modules" property looking at the AMD modules to optimize and move the optimized files to the directory specified in "dir" property</li>
		<li>open <a href="/buildDir/">/buildDir/</a> directory to view the optimized files</li>
	</ol>
</body>
</html>