<!DOCTYPE html>
<html lang="en">
<head>
	<title>rjs Build Dir</title>
	<link rel="stylesheet" type="text/css" href="/public/css/render.css" />
</head>
<body>
	<h1>rjs Build Dir</h1>
	<ol>
		<li>GoTo <a href="/buildScripts/requireJSBuildDir.js">/buildScripts/requireJSBuildDir.js</a></li>
		<li>Configure your build options for r.js</li>
		<li>run cmd &gt; <code>node buildScripts/r.js -o buildScripts/&lt;builtScriptFile&gt;.js</code> from your root directory</li>
		<li>The above command will scan the "modules" property looking at the AMD modules to optimize and move the optimized files to the directory specified in "dir" property</li>
		<li>open <a href="/buildDir/">/buildDir/</a> directory to view the optimized files</li>
	</ol>

	<h2>cmd(s) for buildScript ( to be run from root directory )</h2>
	<div class="grid-a">
	<!-- grid-a begin -->	

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				directory build using <code>normalizeDirDefines</code> config option
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildDirUsingNormalizeDirDefines.js">buildScripts/requireJSBuildDirUsingNormalizeDirDefines.js</a></code>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				directory build using <code>skipDirOptimize</code> config option
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildDirUsingSkipDirOptimize.js">buildScripts/requireJSBuildDirUsingSkipDirOptimize.js</a></code>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				simple directory build
			</div>
			<div class="block-b">
				<code>node buildScripts/r.js -o <a href="/buildScripts/requireJSBuildDir.js">buildScripts/requireJSBuildDir.js</a></code>
			</div>
		<!-- row end -->
		</div>

	<!-- grid-a end -->
	</div>
</body>
</html>