<!DOCTYPE html>
<html lang="en">
<head>
	<title>requireJS Optimization Config</title>
	<link rel="stylesheet" type="text/css" href="/public/css/render.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/modules/CustomgridAndNotes.css" />
</head>
<body>
	<h1>requireJS Optimization Config Options</h1>
	<p>
		Ref: <a href="https://github.com/jrburke/r.js/blob/master/build/example.build.js">https://github.com/jrburke/r.js/blob/master/build/example.build.js</a>
	</p>
	<div class="grid-b grid-container-config-opt">

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				appDir
			</div>
			<div class="block-b">
				The top level directory that contains the entire app
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - using <code>appDir</code></mark>
							<span class="code-block">
								<span>
									appDir: "../app/"		
								</span>
							</span>							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							If this option is used then it assumed the scripts file are in a subdirectory under this path.
						</li>
						<li>
							<mark class="imp">If this option is specified, then all the files from the app directory will be copied to the directory specidified using <code>dir</code> config option.</mark>
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				baseUrl
			</div>
			<div class="block-b">
				 Specifies the base path for all script modules
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - using <code>baseUrl</code> along with <code>appDir</code> config option</mark>
							<span class="code-block">
								<span>
									appDir: "../app",
								</span>
								<span>
									baseUrl: "public/scripts"
								</span>
							</span>
						</li>
						<li>
							<mark class="eg">Example - using <code>baseUrl</code> without specifying <code>appDir</code> config option</mark>
							<span class="code-block">
								<span>
									baseUrl: "../app/public/scripts"
								</span>
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							If <code>appDir</code> is set, then <code>baseUrl</code> should be specified as relative to the <code>appDir</code>.
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				mainConfigFile
			</div>
			<div class="block-b">
				Path of requirejs configuration file to be passed for the optimization build.
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - mainConfigFile</mark>
							<span class="code-block">
								<span>
									mainConfigFile: "../app/public/scripts/config/requireConfig.js"
								</span>								
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							The path to mainConfigFile will be relative to the build script file
						</li>
						<li>
							The path specified, must include the ".js" extension
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				paths
			</div>
			<div class="block-b">
				Set paths for modules
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - specifying paths relative to baseUrl</mark>
							<span class="code-block">
								<span>
									paths: {
									<span>
										"jquery": "lib/jquery-2.1.0",
									</span>
									<span>
										"helloWorld": "modules/helloWorld"
									</span>
									<span>
										"weatherChennai": "empty:", // a http call to get weather data
									</span>
									<span>
										"jqueryCDN": "empty:"  // a CDN resource
									</span>

									}
								</span>
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							Used to set module paths, if <code>mainConfigFile</code> is not provided.
						</li>
						<li>
							"empty:" maps module names that are CDN resources on a CDN or http calls
						</li>
						<li>
							During optimization "empty:" ensures that file is skipped because it has no dependencies.
						</li>	
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				packages
			</div>
			<div class="block-b">
				Configure CommonJS packages
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes hide">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row hide">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				dir
			</div>
			<div class="block-b">
				The directory to save the optimized build file(s)
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example: specifying the build output directory</mark>
							<span class="code-block">
								<span>
									dir: "../build/"	
								</span>								
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							If <code>dir</code> is not specified, then path will default to be a directory called "build" as a sibling to the build file.
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				keepBuildDir
			</div>
			<div class="block-b">
				Do not delete the existing contents of directory specified by <code>dir</code> config option
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example: specifying keepBuildDir</mark>
							<span class="code-block">
								<span>
									keepBuildDir: true // do not delete the existing contents in the directory
								</span>								
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							Default value is <code>false</code>
						</li>
						<li>
							The directory specified by <code>dir</code> config option will be deleted before the build starts again. This can avoided by setting <code>keepBuildDir</code> to <code>true</code>
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				shim
			</div>
			<div class="block-b">
				Specify the <code>shim</code> config option for ordering and dependencies
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example: specifying shim config</mark>
							<span class="code-block">
								<span>
									shim: {
									<span>
										"maths": {
										<span>
											exports: "simpleMATH",
										</span>
										<span>
											init: function () {
											<span>
												simpleMATH = this.maths;
											</span>												
											}
										</span>
										},
									</span>
									}
								</span>								
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							If shim config is used in the app during runtime, duplicate the config options under <code>shim</code>
						</li>
						<li>
    						Using <code>mainConfigFile</code> is a better way to pass this information though, so that it is only listed in one place.
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				wrapShim
			</div>
			<div class="block-b">
				Wraps shimmed dependencies within define(), which inturn is wrapped by a anonymous intermediate function
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example: specifying wrapShim</mark>
							<span class="code-block">
								<span>
									wrapShim: true
								</span>								
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							Default value is <code>false</code>
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				locale
			</div>
			<div class="block-b">
				Inlines i18n resources will in the build
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example: specifying locale</mark>
							<span class="code-block">
								<span>
									locale: "ta-in"
								</span>								
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							Only one locale can be inlined for a build.
						</li>
						<li>
							Root bundles referenced by a build layer will be included in a build layer regardless of locale being set
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				optimize
			</div>
			<div class="block-b">
				optimization method to be used for all the JS files in the build output directory.
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example: specifying optimization method</mark>
							<span class="code-block">
								<span>
									optimize: "uglify"
								</span>
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							Optimization Methods
							<ul>
								<li>
									"uglify": (default) uses UglifyJS to minify the code.
								</li>
								<li>
    								"uglify2": in version 2.1.2+. Uses UglifyJS2.
    							</li>
    							<li>
    								"closure": uses Google's Closure Compiler in simple optimization. ( Only available, when run in Java Env )
								</li>
								<li>
    								"none": no minification will be done.
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				skipDirOptimize
			</div>
			<div class="block-b">
				If true, r.js will optimize only those scripts modules, specified as part of the <code>modules</code> config option
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example: specifying optimization method</mark>
							<span class="code-block">
								<span>
									modules: [
									<span>
										{
										<span>
											name: "namedModule"
										</span>
								            
								        }
									</span>								        
								    ],
								</span>
								<span>
									optimize: "uglify2",
								</span>
								<span>
									skipDirOptimize : true
								</span>
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							<code>skipDirOptimize</code>, applies only if <code>dir</code> config option is specified. In other words, it works only when optimizing the app as a build directory.
						</li>
						<li>
							Doesn't have any impact to the output build, if <code>optimize</code> config option is set to <code>none</code>
						</li>
						<li>
							<code>skipDirOptimize</code>, <code>dir</code>, <code>optimize</code> config option(s) go together.
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				generateSourceMaps
			</div>
			<div class="block-b">
				generate source map for the minified code
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example: enable generateSourceMaps</mark>
							<span class="code-block">
								<span>
									optimize: "uglify2",
								</span>
								<span>
									preserveLicenseComments: false,
								</span>
								<span>
									generateSourceMaps: true
								</span>
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							The source files will show up in a browser developer tool that supports source maps as ".js.src" files.
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				normalizeDirDefines
			</div>
			<div class="block-b">
				specify if normalization should occur only with bundled modules or for entire directory build.
				<br />
				possible values: "all", "skip"
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example: normalizeDirDefines</mark>
							<span class="code-block">
								<span>
									optimize: "uglify2",
								</span>
								<span>
									skipDirOptimize : false,
								</span>
								<span>
									normalizeDirDefines: "skip"
								</span>
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							r.js offers an excellent build hook "onBuildRead" which is invoked for each module, the return value of this hook will be used for the built file prior to minification. For performance reasons r.js will only invoke this only on bundled modules by default. Setting <code>normalizeDirDefines</code> to "all" means these modifications will be run on all files, not just your bundled modules.
							<br />
							Ref: <a href="http://merrickchristensen.com/articles/build-angular-with-requirejs.html">http://merrickchristensen.com/articles/build-angular-with-requirejs.html</a>
						</li>
						<li>
							 Normalization is not done if <code>optimize</code> is set to "none". i.e. <code>normalizeDirDefines</code> will be automatically set to "skip"
						</li>
						<li>
							 <code>normalizeDirDefines</code> is automatically set to "all", if <code>optimize</code> is not "none" and <code>skipDirOptimize</code> is false.
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				uglify
			</div>
			<div class="block-b">
				Specify config option for uglify, when <code>optimize</code> is to "uglify"
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - specifying uglify config option</mark>
							<span class="code-block">
								<span>
									uglify: {
										<span>
											toplevel: true
										</span>
										<span>
											, ascii_only: true
										</span>
								         <span>
								         	, beautify: true
								         </span>
								         <span>
								         	, max_line_length: 300
								         </span>
								    }
								</span>
							</span>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							See <a href="https://github.com/mishoo/UglifyJS">https://github.com/mishoo/UglifyJS</a> for the possible values.
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				uglify2
			</div>
			<div class="block-b">
				Specify config option for uglify2, when <code>optimize</code> is to "uglify2"
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - specifying uglify2 config option</mark>
							<span class="code-block">
								 , uglify2: {
								 	<span>
								 		indent_level: 2
								 	</span>
								 	<span>
								 		, comments: false
								 	</span>
									<span>
								 		, drop_debugger: true
								 	</span>
								 	<span>
								 		, dead_code: true
								 	</span>
								 	<span>
								 		, warnings: true
								 	</span>
								 	<span>
								 		, mangle: false
								 	</span>
							    }
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							For possible values see:
							<ul>
								<li>
									<a href="http://lisperator.net/uglifyjs/codegen">http://lisperator.net/uglifyjs/codegen</a>
								</li>
								<li>
									<a href="http://lisperator.net/uglifyjs/compress">http://lisperator.net/uglifyjs/compress</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				closure
			</div>
			<div class="block-b">
				Specify config option for closure, when <code>optimize</code> is to "closure"
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes hide">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row hide">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				optimizeCss
			</div>
			<div class="block-b">
				Enable or disable CSS optimizations
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - optimizeCss config option</mark>
							<span class="code-block">
								<span>
									optimizeCss: "standard.keepLines.keepWhitespace"
								</span>
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							"none": skip CSS optimizations.						
						</li>
						<li>
							"standard": @import inlining and removal of comments, unnecessary whitespace and line returns.
							<br />
							Removing line returns may have problems in IE, depending on the type of CSS.
						</li>
						<li>
							"standard.keepLines": like "standard" but keeps line returns.
						</li>
						<li>
							"standard.keepComments": keeps the file comments, but removes line returns. 
						</li>
						<li>
							"standard.keepComments.keepLines": keeps the file comments and line returns.
						</li>
						<li>
							"standard.keepWhitespace": like "standard" but keeps unnecessary whitespace.
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				cssImportIgnore
			</div>
			<div class="block-b">
				If optimizeCss is in use, a list of files to ignore for the @import inlining.
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - don't ignore any css @import</mark>
							<span class="code-block">
								cssImportIgnore: null
							</span>
						</li>
						<li>
							<mark class="eg">Example - ignore the list of css @import</mark>
							<span class="code-block">
								cssImportIgnore: "grid.css,typography.css"
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							The value of this option should be a string of comma separated CSS file names to ignore (like 'a.css,b.css'. The file names should match whatever strings are used in the @import calls.
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				cssIn
			</div>
			<div class="block-b">
				Optimize a single CSS file
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - optimize a single css file</mark>
							<span class="code-block">
								<span>
									cssIn: "path/to/main.css"	
								</span>
								<span>
									, out: "path/to/css-optimized.css"
								</span>
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							When using <code>cssIn</code> config option, use <code>out</code> config option to specify the output path and file name for the css
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				out
			</div>
			<div class="block-b">
				Specify the output file path and file name
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - specifying a single js file optimization</mark>
							<span class="code-block">
								<span>
									name: "path/to/scriptModule"	
								</span>
								<span>
									, out: "path/to/optimizedScriptModule.js"
								</span>
							</span>
						</li>
						<li>
							<mark class="eg">Example - specify a single css file optimization</mark>
							<span class="code-block">
								<span>
									cssIn: "path/to/main.css"	
								</span>
								<span>
									, out: "path/to/optimizedFile.css"
								</span>
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							<code>out</code> requires the file extension for the optimized file.
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				cssPrefix
			</div>
			<div class="block-b">
				set a prefix URL for background images using relative URLs
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes hide">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row hide">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				inlineText
			</div>
			<div class="block-b">
				Inlines the text for any text! dependencies
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example : inline text dependency</mark>
							<span class="code-block">
								inlineText: true
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							Inlines the text for any text! dependencies, to avoid the separate async XMLHttpRequest calls to load those dependencies.
						</li>
						<li>
							<mark class="imp">
								Not quite sure, if this works with text! involving http/https calls
							</mark>							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				useStrict
			</div>
			<div class="block-b">
				Allow "use strict"; be included in the RequireJS files.
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - useStrict</mark>
							<span class="code-block">
								useStrict: true,
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							Default is false
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				skipModuleInsertion
			</div>
			<div class="block-b">
				If skipModuleInsertion is false, then files that do not use define() to define modules will get a define() placeholder inserted for them.
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							<mark class="eg">Example - skipModuleInsertion</mark>
							<span class="code-block">
								skipModuleInsertion: false,
							</span>
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							This is useful if you are building code that does not use require() in the built project or in the JS files, but you still want to use the optimization tool from RequireJS to concatenate modules together.
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				
			</div>
			<div class="block-b">
				
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				
			</div>
			<div class="block-b">
				
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				
			</div>
			<div class="block-b">
				
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				
			</div>
			<div class="block-b">
				
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				
			</div>
			<div class="block-b">
				
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				
			</div>
			<div class="block-b">
				
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				
			</div>
			<div class="block-b">
				
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				
			</div>
			<div class="block-b">
				
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				
			</div>
			<div class="block-b">
				
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block-a">
				
			</div>
			<div class="block-b">
				
			</div>
			<div class="block-c">
				<span tabindex="0" class="view-notes">notes</span>
			</div>
		<!-- row end -->
		</div>

		<div class="row">
		<!-- row begin -->
			<div class="block notes clrAft">
				<div class="block-a">
				</div>
				<div class="block-b">
					<h2>Usage</h2>
					<ul>
						<li>
							
						</li>
					</ul>
					<h2>Notes</h2>
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="block-c">
					<div tabindex="0" class="close-notes">close</div>
				</div>
			</div>
		<!-- row end -->
		</div>


	</div>
		<script src="/public/scripts/lib/require.js"></script>
		<script>
			require( ["/public/scripts/config/requireConfig.js"], function( ) {
				require( ["notesPlugin"] );
			})
		</script>
</body>
</html>